<mat-toolbar color="">
    <span>
        <a mat-button routerLinkActive="active"><mat-icon>fact_check
            </mat-icon> PWA-1002
        </a>
    </span>
    <div>
        <a  routerLinkActive="active" mat-button routerLink="cine">Cinepolis</a>
    </div>
    <div>
        <a mat-button routerLinkActive="active" mat-button routerLink="multi">Multiplicacion</a>
    </div>
    <div>
        <a mat-button routerLinkActive="active" mat-button routerLink="temp">Temperatura</a>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>


