body{
    width: auto;
    height: auto;
    background-image: url("https://brandemia.org/contenido/subidas/2019/07/logo-cinepolis.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}